bin/
Cadastro_Funcionarios.cbp
Ficha_Funcionario.txt
Main_1.exe
Main_1.o

bin/
obj/
Cadastro_Pacientes.cbp
Cadastro_Pacientes.layout
Ficha_Paciente.txt
Main_2.exe
Main_2.o

bin/
obj/
Lista_Convenios.cbp
Lista_Convenios.depend
Lista_Convenios.layout
Main_5.exe
Main_5.o

Lista_De_Exames.txt
Main_3.cbp
Main_3.exe
Main_3.o

bin/
Lista_de_Pagamentos.txt
Main_4.exe
Main_4.o
Pagamentos.cbp
Pagamentos.layout

bin/
obj/
Ficha_Funcionario.txt
Ficha_Paciente.txt
Lista_De_Exames.txt
Lista_de_Pagamentos.txt
Main_0.exe
Main_0.o
Main_1_R.exe
Main_1_R.o
Main_3_R.exe
Main_3_R.o
Main_5_R.exe
Main_5_R.o
Main_7_R.exe
Main_7_R.o
Software_Rede_de_Clinicas.cbp
Software_Rede_de_Clinicas.layout