Backup Base Projeto/
Cadastro_Funcionarios.exe
Cadastro_Funcionarios.o
PIM_Sem_2_Clinica/
Referencia para gravar texto/
Tentativa armazenar texto de UF/
Teste para acesso a arquivos/
Ficha_Funcionario.txt